html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, em, img, ol, ul, li, table, footer,
header, nav, aside, footer, header, article {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    font-weight: normal;
}